.body {
    background-image: url("../img/logo.jpg");
}

body {
    background-image: linear-gradient(to top, #ecedee 0%, #eceeef 75%, #e7e8e9 100%);
    min-height: 100vh;
    font: normal 16px sans-serif;
    padding: 60px 0;
}

body {
    heigh: 665px;
    background-image: url("https://carontestudio.com/img/caronte-web-estudio-logo.png");
    background-repeat: repeat-y;
    background-size: 10rem;
}